@import './styles/mixins/_breakpoints.scss';
@import './styles/mixins/_fonts.scss';
@import './styles/mixins/_mixins.scss';
@import './styles/partials/colors/colors';



// New Brand colors
$indigo: #2D4A9F;
$green: #00B477;
$blue: #0078BF;
$turquoise: #00B1DA;
$orange: #F7942D;
$teal: #00B5AD;
$warm-red: #EF4350;
$light-blue: #7EB0DE;
$purple: #953192;
$yellow: #FFC226;

// Grayscale
$black: #000000;
$dark-gray: #333333;
$gray: #666666;
$light-gray: #999999;
$lighter-gray: #CCCCCC;
$white: #FFFFFF;



// html, body {
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   box-sizing: border-box;
//   height: 100%;
//   min-height: 100vh;
//   min-width: 100vw;
// }

body,
#root,
.wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  //min-width: 100vw;
}

*{
  font-family: 'trade-gothic-next', 'tgn-soft-round', sans-serif;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}




h1{

  @include sm {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
  }

  @include md{
      font-size: 2.063rem;
      line-height: 2.75rem;
      font-weight: 700;
  }

  @include lg {
      font-size: 2.063rem;
      line-height: 2.75rem;
      font-weight: 700;
  }

  @include xl {
      font-size: 2.063rem;
      line-height: 2.75rem;
      font-weight: 700;
  }
}

h2{

  @include xs {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 700;
  }


  @include sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 700;
  }
  

  @include md {
      font-size: 1.5rem;
      line-height: 1.25rem;
      font-weight: 700;
  }

  @include lg {
      font-size: 1.5rem;
      line-height: 1.25rem;
      font-weight: 700;
  }

  @include xl {
      font-size: 1.5rem;
      line-height: 1.25rem;
      font-weight: 700;
  }
}

h3 {

  @include sm {
      font-size: 0.813rem;
      line-height: 1.125rem;
      font-weight: 600;
  }

  @include sm {
      font-size: 0.813rem;
      line-height: 1.125rem;
      font-weight: 600;
  }

  @include md{
      font-size:1.375rem ;
      line-height: 1.375rem;
      font-weight: 600;
  }

  @include lg {
      font-size:1.375rem ;
      line-height: 1.375rem;
      font-weight: 600;
  }

  @include xl{
      font-size:1.375rem ;
      line-height: 1.375rem;
      font-weight: 600;
  }
}

p {

  @include xs {
      font-size: 0.813rem;
      line-height: 1.125rem;
      font-weight: 400;
  }

  @include sm {
      font-size: 0.813rem;
      line-height: 1.125rem;
      font-weight: 400;
  }

  @include md {
      font-size: 0.875rem;
      line-height: 1.375rem ;
      font-weight: 400;
  }

  @include lg {
      font-size: 0.875rem;
      line-height: 1.375rem ;
      font-weight: 400;
  }

  @include xl {
      font-size: 0.875rem;
      line-height: 1.375rem ;
      font-weight: 400;
  }
}






.opaque__filter {
  @include xs {
      position: relative;
      //background: linear-gradient(147deg, #fdfeff 10%,  #00acd8 90%);
      opacity: 90%;
      height: 100%;
      width: 100%;
      background-color: rgb(224, 218, 218);
    
  }

  @include sm {
      position: relative;
      background: linear-gradient(147deg, #fdfeff 10%,  #00acd8 90%);
      opacity: 90%;
      height: 100%;
      width: 100%;
  }

  @include md {
      //position: relative;
      background-color: map-get($colors, $key: sphTeal );
      opacity: 90%;
      height: 100%;
      width: 100%;

  }

  @include lg {
      position: relative; 
      top: 0;
      left: 0;
      background: linear-gradient(
              147deg, 
              rgba($indigo, 0.8) 10%, // Using Indigo with 80% opacity
              rgba($teal, 0.8) 90% // Using Teal with 80% opacity
          );
      opacity: 90%;
      height: 100%;
      width: 100%;

  }
  
  @include xl {
      position: relative; 
      top: 0;
      left: 0;
      background: linear-gradient(
              147deg, 
              rgba($indigo, 0.8) 10%, // Using Indigo with 80% opacity
              rgba($teal, 0.8) 90% // Using Teal with 80% opacity
          );
      opacity: 90%;
      height: 100%;
      width: 100%;
  }
}

.opaque__filter2 {
    position: relative;
    background: linear-gradient(147deg, $orange 10%,  #00acd8 90%);
    opacity: 70%;
    height: 100%;
    width: 100%;
}

.super__heading {
  font-size: 6rem;
  text-shadow: 0px 0px 48px rgba(0, 0, 0, 0.63);
}