$colors: (
    sphBlue: #2574bb,
    sphTeal: #00acd8,
    sphGray: #707070,
    sphOrange: #faa627,
    zLightGray: #FAF9F6,
    zsphBlue: #f2fffe,
);

$navGradient: (
    --clr-1: #7AD7F0,
    --clr-2: #92DFF3,
    --clr-3: #B7E9F7,
    --clr-4: #DBF3FA,
    --clr-5: #F5FCFF,
)