@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/mixins/_fonts.scss';
@import '../../styles/mixins/_mixins.scss';
@import '../../styles/partials/colors/colors';


// New Brand colors
$indigo: #2D4A9F;
$green: #00B477;
$blue: #0078BF;
$turquoise: #00B1DA;
$orange: #F7942D;
$teal: #00B5AD;
$warm-red: #EF4350;
$light-blue: #7EB0DE;
$purple: #953192;
$yellow: #FFC226;

// Grayscale
$black: #000000;
$dark-gray: #333333;
$gray: #666666;
$light-gray: #999999;
$lighter-gray: #CCCCCC;
$white: #FFFFFF;



.home__page {

    @include xl {
        height: 100%;
        width: 100%;
    }
}

.homepage__gallery {
    @include xl {
        height: 100%;
        width: 100%;
    }
}

.slider__wrapper {
    @include xs {
        display: flex;
        width: 100%;
        height: 24rem;
    }

    @include sm {
        display: flex;
        width: 100%;
        height: 32rem;
    }

    @include md {
        display: flex;
        width: 100%;
        height: 40rem;
    }

    @include lg {
        display: flex;
        width: 100%;
        height: 52rem;
    }

    

    @include xl {

        display: flex;
        width: 100%;
        height: 56rem;
    }
    
}

.home__page {
    position: relative;
  }
  
  .homepage__gallery {
    position: relative;
    height: 100%; // Adjust the height as needed
  }
  
  .static-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 249, 249); // Adjust the color as needed
    text-align: center;
    z-index: 1100; // Make sure this is above the Swiper z-index
    h2 {
      font-size: 3.5rem; // Adjust font-size as needed
      margin-bottom: 0.5rem;
      line-height: 3rem;
    }
    
    p {
      font-size: 1rem;
    }
  }

  
  .homepage__title {
    color: rgb(252, 246, 246);
    text-align: center;
    z-index: 1110;
  }