@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/mixins/_fonts.scss';
@import '../../styles/mixins/_mixins.scss';
@import '../../styles/partials/colors/colors';


// Brand colors
$blue: #2574bb;
$teal: #00acd8;
$gray: #707070;
$orange: #faa627;


*{
    font-family: 'chronicle';
    box-sizing:border-box;
    margin:0; 
    padding:0;
}

// html, body {
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     box-sizing: border-box;
//     height: 100%;
// }


.home__page {

    @include xl {
        height: 100%;
        width: 100%;
    }
}

.homepage__gallery {
    @include xl {
        height: 100%;
        width: 100%;
    }
}

.slider__wrapper {
    @include xs {
        display: flex;
        width: 100%;
        height: 24rem;
    }

    @include sm {
        display: flex;
        width: 100%;
        height: 32rem;
    }

    @include md {
        display: flex;
        width: 100%;
        height: 40rem;
    }

    @include lg {
        display: flex;
        width: 100%;
        height: 52rem;
    }

    

    @include xl {

        display: flex;
        width: 100%;
        height: 56rem;
    }
    
}

.home__page {
    position: relative;
  }
  
  .homepage__gallery {
    position: relative;
    height: 100%; // Adjust the height as needed
  }
  
  .static-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; // Adjust the color as needed
    text-align: center;
    z-index: 10; // Make sure this is above the Swiper z-index
    
    h2 {
      font-size: 2.5rem; // Adjust font-size as needed
      margin-bottom: 0.5rem;
    }
    
    p {
      font-size: 1rem;
    }
  }

  
//   .homepage__title {
//     color: $blue;
//     text-shadow: 2px 2px #0f0e0e;
//   }