@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/mixins/_fonts.scss';
@import '../../styles/mixins/_mixins.scss';
@import '../../styles/partials/colors/_colors.scss';


// Brand colors
$blue: #2574bb;
$teal: #00acd8;
$gray: #707070;
$orange: #faa627;




@keyframes shimmer {
    0% {
      background-position: -500px 0;
    }
    100% {
      background-position: 500px 0;
    }
  }


h1{

    @include sm {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    @include md{
        font-size: 2.063rem;
        line-height: 2.75rem;
        font-weight: 700;
    }

    @include lg {
        font-size: 2.063rem;
        line-height: 2.75rem;
        font-weight: 700;
    }

    @include xl {
        font-size: 2.063rem;
        line-height: 2.75rem;
        font-weight: 700;
    }
}

h2{

    @include xs {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 700;
    }


    @include sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 700;
    }
    

    @include md {
        font-size: 1.5rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    @include lg {
        font-size: 1.5rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    @include xl {
        font-size: 1.5rem;
        line-height: 1.25rem;
        font-weight: 700;
    }
}

h3 {

    @include sm {
        font-size: 0.813rem;
        line-height: 1.125rem;
        font-weight: 600;
    }

    @include sm {
        font-size: 0.813rem;
        line-height: 1.125rem;
        font-weight: 600;
    }

    @include md{
        font-size:1.375rem ;
        line-height: 1.375rem;
        font-weight: 600;
    }

    @include lg {
        font-size:1.375rem ;
        line-height: 1.375rem;
        font-weight: 600;
    }

    @include xl{
        font-size:1.375rem ;
        line-height: 1.375rem;
        font-weight: 600;
    }
}

.header__page--text{

    @include sm {
        color:#707070;
    }

    @include md {
        color: white;
    }
    @include lg {
        color: white;
    }

    @include xl {
        color: white;
    }
}

p {

    @include xs {
        font-size: 0.813rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    @include sm {
        font-size: 0.813rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    @include md {
        font-size: 0.875rem;
        line-height: 1.375rem ;
        font-weight: 400;
    }

    @include lg {
        font-size: 0.875rem;
        line-height: 1.375rem ;
        font-weight: 400;
    }

    @include xl {
        font-size: 0.875rem;
        line-height: 1.375rem ;
        font-weight: 400;
    }
}


.site__header {

    // background: linear-gradient(to right, #2574bb, #00acd8); // Gradient from BLUE to TEAL
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
    @include xs {
        background: linear-gradient(to right, $blue, $teal);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 10;
        transition: background-color 0.3s ease-in-out;
    }

    @include sm {
        background: linear-gradient(to right, $blue, $teal);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 10;
        transition: background-color 0.3s ease-in-out;
    }

    @include md {
        background: linear-gradient(to right, $blue, $teal);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 10;
        transition: background-color 0.3s ease-in-out;
    }
    
    @include lg {
        background: linear-gradient(to right, $blue, $teal);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 10;
        transition: background-color 0.3s ease-in-out;
    }

    @include xl {
        background: linear-gradient(to right, $blue, $teal);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 10;
        transition: background-color 0.3s ease-in-out;
    }


    &.scrolled {
        background-color: rgba($blue, 0.9); // slightly transparent
    }
}

.header__container{

    @include xs {
        box-shadow: 0 4px 2px -2px gray;
    }

    @include sm {
        box-shadow: 0 4px 2px -2px gray;
    }

    @include md {
        box-sizing: border-box;
        max-width: 100%;
        box-shadow: 0 4px 4px -1px gray;
    }
   
    @include lg {
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 4px 4px -1px gray;
    }
    @include xl {
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 4px 4px -1px gray;
    }
}


.site__navigation {
    display: flex;

    @include xs {
        max-height: 7.375rem;
        // padding: 3rem;
        height: 100%;
        position: relative;
        max-width: 100%;
    }


    @include sm {
        max-height: 7.375rem;
        // padding: 3rem;
        height: 100%;
        position: relative;
        max-width: 100%;
        padding-left:1rem;
        padding-right: 1rem;
    }

    @include md {
        height: 7.375rem;
        height: 4rem;
        position: relative;
        width: 100%;
    }


    @include lg {
        display: flex;
        height: 7.375rem;
        // padding: 3rem;
        height: 100%;
        position: relative;
        padding-left: 3rem;
        padding-right: 3rem;
        width: 100%;
    }

    @include xl {
        display: flex;
        min-height: 7.375rem;
        padding-left: 3rem;
        padding-right: 3rem;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}


.header__logo-container {

    @include xs {
        width: 12.438rem;
        height: auto;
        padding-bottom: .25rem;
        padding-top: .25rem;
    }

    @include sm{
        width: 12.438rem;
        height: auto;
        padding-bottom: .25rem;
        padding-top: .25rem;
    }

    @include md{
        width: 16.876rem;
        height: auto;
        padding-left: 3rem;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    @include lg {
        width: 16.876rem;
        height: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    @include xl {
        width: 16.876rem;
        height: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header__logo {
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05); // Slightly enlarges the logo on hover
    }

    @include xs {
        width: 5rem;
        height: auto;

    }


    @include sm {
        max-width: 100%;
        height: auto;

    }

    @include md {
        max-width: 100%;
        height: auto;
    }

    @include lg {
        max-width: 100%;
        height: auto;
    }

    @include xl {
        max-width: 100%;
        height: auto;
    }
}


.navigation__list {
    display: flex;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05); // Slightly enlarges the logo on hover
    }

    @include xs {
        display: none;
    }

    @include sm {
       display: none;
    }
    

    @include md {
        padding: 1rem;
        gap: .5rem;
        width: 100%;
        height: 100%;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
    @include lg {
        gap: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    @include xl{
        gap: 3rem;
        padding-left: 6rem;
        //padding-right: 3rem;
        width:100%;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.accordion__icon {
    @include xs{
        align-self: center;
        left:80%;
        position:absolute;
        width: 2.188rem;
        height: auto;
    }

    @include sm{
        align-self: center;
        left:80%;
        position:absolute;
        width: 2.188rem;
        height: auto;
        cursor: pointer;
        
    }

    @include md{
        display: none;
    }

    @include lg {
        display: none;
    }

    @include xl {
        display: none;
    }
    
}

.navigation__list a {

 //   color: #00acd8; // TEAL color for the text
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05); // Slightly enlarges the logo on hover
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        //background-color: $teal; // Use your teal color variable
        transition: width 0.3s ease-in-out;
      }
    
      &:hover::after {
        width: 100%;
      }
      
      &:hover {
        color: $orange; // Use your orange color variable
        transition: transform 0.3s ease-in-out;
      }

    @include xs {
        font-size: 0.875rem;
    }

    @include sm {
        position: relative;
        font-size: 0.875rem;
    }

    @include md {
        position: relative;
        font-size: 1.125rem;
    }

    @include lg {
        padding: 0 10px;
        position: relative;
        font-size: 1.125rem;
    }


    @include xl {
        padding: 0 10px;
        position: relative;
        font-size: 1.125rem;
    }
}



.navigation__list a::after {

    @include sm{
        content: '';
        position: absolute;
        background-color: map-get($colors , $key:sphTeal );
        height: 3px;
        width:0 ;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    @include md {
        content: '';
        position: absolute;
        background-color: map-get($colors , $key:sphTeal );
        height: 3px;
        width:0 ;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    
    @include lg {
        content: '';
        position: absolute;
        background-color: map-get($colors , $key:sphOrange );
        height: 3px;
        width:0 ;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    @include xl {
        content: '';
        position: absolute;
        background-color: map-get($colors , $key:sphTeal );
        height: 3px;
        width:0 ;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
}

.navigation__list a:hover:after {

    @include md {
        width: 100%;
    }

    @include lg {
        width: 100%;
    }

    @include xl {
        width: 100%;
    }
}


.navigation__list {
    list-style-type: none;
    text-decoration: none;

}


.navigation__list a:hover {


    @include md {
        color: map-get($colors , $key:sphTeal );
    }

    @include lg {
        color: map-get($colors , $key:sphOrange );
    }

    @include xl {
        color: map-get($colors , $key:sphTeal );
        box-shadow: 0 0 11px rgba(133, 131, 131, 0.2); 
        
    }

}

.navigation__list li {
    display: flex;

    @include xs {
        width: 100%;
        height: 2rem;
        align-content: center;
        flex-wrap: wrap;
        &:hover {
            background-color: rgb(230, 226, 226);
        }

    }

    @include sm {
        width: 100%;
        height: 2rem;
        align-content: center;
        flex-wrap: wrap;
        &:hover {
            background-color: rgb(230, 226, 226);
        }
    }

    @include md {
        width: 6rem;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
    }


    @include lg {
        width: 6rem;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
    }

    @include xl {
        width: 6rem;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
    }
}

a {
    text-decoration: none;
}

h3 {
    align-self:center;
    padding-bottom: 1rem;
}

// ... existing styles ...


.navigation__list h4 {

    @include xs {
        padding-left: 1rem;
        &:hover {
            color: #faa627;
        }
    }
    
    @include sm {
        padding-left: 1rem;
        &:hover {
            color: #faa627;
        }
    }

}
.burger__menu {

    color: #faa627; // ORANGE color for the icon
    transition: transform 0.3s ease;

    &.active {
        transform: rotate(90deg); // Rotate effect when active
    }


    @include xs {
        display: block; // Show between 'xs' and 'sm'
        position: absolute; // Adjust as necessary
        right: 0; // Align to the right
        top: 50%; // Adjust vertical alignment as needed
        transform: translateY(-50%); // Center vertically
        padding-right: 1rem;
        width: auto;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }



     @include sm {
        display: block; // Show between 'xs' and 'sm'
        position: absolute; // Adjust as necessary
        right: 0; // Align to the right
        top: 50%; // Adjust vertical alignment as needed
        transform: translateY(-50%); // Center vertically
        padding-right: 1rem;
        width: auto;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }

    @include md {
        display: none; // Hide starting from 'md' breakpoint
    }

    @include lg {
        display: none; // Hide starting from 'md' breakpoint
    }

    @include xl {
        display: none; // Hide starting from 'md' breakpoint
    }
}

.navigation__list {
    @include xs {
        display: none;
        position: absolute;
        background-color: rgb(240, 238, 238);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        //border-radius: 8px;
        //padding-left: 1rem;
        top: 100%;
        left: 0;
        width: 100%;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out; // Further increased duration and ease-out for smoother start
        opacity: 0;
        transform: translateY(-30px); // Increased movement
        z-index: 1000;

        &.active {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    
    
    @include sm {
        display: none;
        position: absolute;
        background-color: rgb(240, 238, 238);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        //border-radius: 8px;
        //padding-left: 1rem;
        top: 100%;
        left: 0;
        width: 100%;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out; // Further increased duration and ease-out for smoother start
        opacity: 0;
        transform: translateY(-30px); // Increased movement
        z-index: 1000;

        &.active {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            opacity: 1;
            transform: translateY(0);
        }
    }

 
}


