@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/mixins/_fonts.scss';
@import '../../styles/mixins/_mixins.scss';
@import '../../styles/partials/colors/colors';





.aboutus__header {

    @include xs {
        display: flex;
        background-image: url('../../assets/photos/Cropped/GroupPhoto_cropped.jpeg');
        height: 15rem;
        color: white;
        background-size: cover;
    }

    @include sm {
        display: flex;
        background-image: url('../../assets/photos/Cropped/GroupPhoto_cropped.jpeg');
        height: 15rem;
        color: white;
        background-size: cover;
    }

    @include md {
        display: flex;
        background-image: url('../../assets/photos/Cropped/GroupPhoto_cropped.jpeg');
        height: 20rem;
        color: white;
        background-size: cover;
    }

    @include lg {
        display: flex;
        background-image: url('../../assets/photos/Cropped/GroupPhoto_cropped.jpeg');
        height: 20rem;
        color: white;
    }

    @include xl {
        display: flex;
        background-image: url('../../assets/photos/Cropped/GroupPhoto_cropped.jpeg');
        height: 20rem;
        color: white;
    }
}

.aboutus__title {

    @include xs {
        display: flex;
        position: absolute;
        left: 25%;
        right: 25%;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    @include sm {
        display: flex;
        position: absolute;
        left: 25%;
        right: 25%;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    @include md {
        display: flex;
        position: absolute;
        left: 25%;
        right: 25%;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    @include lg {
        display: flex;
        position: absolute;
        left: 25%;
        right: 25%;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    @include xl {
        display: flex;
        position: absolute;
        left: 25%;
        right: 25%;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    
}


.aboutus__link--section {

    @include xs {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 3rem;
    }

    @include sm {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 3rem;
    }

    @include md {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 3rem;
    }

    @include lg {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 3rem;
    }

    @include xl {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 3rem;
    }
}


.aboutus_links {

    @include xs {
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 20rem;
        height: 10rem;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        border-left: 10rem;
        border-right: 10rem;
        border-top: 0;
        border-bottom: 10rem;
        background-color: #f2fffe;
    }

    @include sm {
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 20rem;
        height: 10rem;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        border-left: 10rem;
        border-right: 10rem;
        border-top: 0;
        border-bottom: 10rem;
        background-color: #f2fffe;
    }

    @include md {
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 20rem;
        height: 10rem;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        border-left: 10rem;
        border-right: 10rem;
        border-top: 0;
        border-bottom: 10rem;
        background-color: #f2fffe;
    }

    @include lg{
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 20rem;
        height: 10rem;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        border-left: 10rem;
        border-right: 10rem;
        border-top: 0;
        border-bottom: 10rem;
        background-color: #f2fffe;
    }

    @include xl {
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 20rem;
        height: 10rem;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        border-left: 10rem;
        border-right: 10rem;
        border-top: 0;
        border-bottom: 10rem;
        background-color: #f2fffe;
    }
}


.aboutus__intro--container {
    display: flex;

    @include xs {
        // background-color: #f2fffe;
        padding-top: 1rem;
        //background-image: linear-gradient(-135deg, transparent 250px, #f2fffe 50px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.8); 
        
        p {
            padding-left: 1rem;
        }
        
        h3 {
            padding-left: 1rem;
        }
    }

    @include sm {
        // background-color: #f2fffe;
        //padding: 3rem;
        //background-image: linear-gradient(-135deg, transparent 250px, #f2fffe 50px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.8); 
        flex-direction: column;
        padding-top: 1rem;

        p {
            padding-left: 1rem;
        }
        
        h3 {
            padding-left: 1rem;
        }
    }
    
    @include md {
        padding: 3rem;
        //background-image: linear-gradient(-135deg, transparent 250px, #f2fffe 50px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.8); 
        
    }

    
    @include lg {
        padding: 3rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.8);
        
    }

    
    @include xl {
        // background-color: #f2fffe;
        padding: 3rem;
        //background-image: linear-gradient(-135deg, transparent 250px, #f2fffe 50px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.8);
    }
}


.aboutus__paragraph1 {
    @include xs {
        width: 100%;
    }

    @include sm {
        width: 100%;
    }

    @include md {
        width: 90%;
    }

    @include lg {
        width: 90%;
    }

    @include xl {
        width: 90%;
    }
}

.community__pic {

    @include xs {
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        width: 16rem;
        height: 10.672rem;
    }

    @include sm {
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        width: 100%;
        height: auto;
    }

    @include md {
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        max-width: 32rem;
        max-height:21.344rem;
    }

    @include lg {
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        width: 32rem;
        height:21.344rem;
    }

    @include xl {
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        width: 32rem;
        height:21.344rem;
    }
}


.history {

    @include xs {
        width: 100%;
        padding: 1rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 
        padding-top: 2rem;

        &:hover {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
            //cursor: pointer;
        }
    }


    @include sm {
        width: 100%;
        padding: 1rem;
        padding-top: 2rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 

        &:hover {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
            //cursor: pointer;
        }
    }


    @include md {
        width: 70%;
        padding: 3rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 

        &:hover {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
            //cursor: pointer;
        }
    }


    @include lg {
        width: 70%;
        padding: 3rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 

        &:hover {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
            //cursor: pointer;
        }
    }

    @include xl {
        width: 70%;
        padding: 3rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2); 

        &:hover {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
            //cursor: pointer;
        }
    }
}

.inner__heading {

    @include xs {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    @include sm {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    @include md {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    @include lg {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    @include xl {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

.community__care--section {

    @include xs {
        display: flex;
        padding-bottom: 1rem;
    }

    @include sm {
        display: flex;
        padding-bottom: 1rem;
    }

    @include md {
        display: flex;
        padding-bottom: 1rem;
    }

    @include lg {
        display: flex;
        padding-bottom: 3rem;

    }

    @include xl {
        display: flex;
        padding-bottom: 3rem;

    }
}

.building__pic--container {

    @include md {
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        width: 400px;
        height: 600px;
    }

    @include lg {
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        width: 400px;
        height: 600px;
    }

    @include xl {
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        width: 400px;
        height: 600px;
    }
}

.communitycare--container {

    @include md {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-top: 1rem;
        background-color:  #f2fffe;
    }

    @include lg {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-top: 1rem;
        background-color:  #f2fffe;
    }

    @include xl {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-top: 1rem;
        background-color:  #f2fffe;
    }

    
}

.community__care {
    @include md {
        padding-right: 1rem;
    }

    @include lg {
        padding-right: 3rem;
    }

    @include xl {
        padding-right: 3rem;
    }
}

.sph__community--text {

    @include md {
        padding-bottom: 1rem;
    }

    @include lg {
        padding-bottom: 1rem;
    }

    @include xl {
        padding-bottom: 1rem;
    }
}

.harlem__community--section {

    @include md {
        padding-top: 1rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        display: flex;
        // justify-content: flex-end;
        flex-direction: row;
        padding-left: 1rem;
        //background-image: linear-gradient(45deg, transparent 50px, #f6f9fa 50px);
    }

    @include lg {
        padding-top: 1rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        display: flex;
        // justify-content: flex-end;
        flex-direction: row;
        padding-left: 1rem;
        //background-image: linear-gradient(45deg, transparent 50px, #f6f9fa 50px);
    }

    @include xl {
        padding-top: 1rem;
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        display: flex;
        // justify-content: flex-end;
        flex-direction: row;
        padding-left: 1rem;
        //background-image: linear-gradient(45deg, transparent 50px, #f6f9fa 50px);
    }
}

.harlem__community--info {

    
    @include sm {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    @include md {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 1rem;
    }

    @include lg {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 1rem;
    }

    @include xl {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 1rem;
    }
}


.cope__pic {

    @include xs {
        width: 100%;
        height: auto;
    }

    @include sm {
        width: 100%;
        height: auto;
    }
} 
.aboutus__inner--list {

    
    @include xs {
        padding: 1rem;
    }

    @include sm {
        padding: 1rem;
    }
    @include md {
        padding: 1rem;
    }

    @include lg {
        padding: 1rem;
    }

    @include xl {
        padding: 1rem;
    }
}

.student__work--container {

    
    @include sm {
        background-color: #f6f9fa;
    }

    @include xs {
        background-color: #f6f9fa;
    }

    @include md {
        background-color: #f6f9fa;
    }

    @include lg {
        background-color: #f6f9fa;
    }

    @include xl {
        background-color: #f6f9fa;
    }
}

.student__work--section {

    @include sm {
        // background-color: map-get($colors , $key: sphTeal);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  350px);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  150px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        display: flex;
        padding: 3rem;
        flex-direction: column;
    }



    @include xs {
        // background-color: map-get($colors , $key: sphTeal);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  350px);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  150px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        display: flex;
        padding: 3rem;
        flex-direction: row;
    }

    @include md {
        // background-color: map-get($colors , $key: sphTeal);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  350px);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  150px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        display: flex;
        padding: 3rem;
        flex-direction: row;
    }

    @include lg {
        // background-color: map-get($colors , $key: sphTeal);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  350px);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  150px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        display: flex;
        padding: 3rem;
        flex-direction: row;
    }

    @include xl {
        // background-color: map-get($colors , $key: sphTeal);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  350px);
        background-image: linear-gradient(-180deg, transparent 50px, #e6f5fa  150px);
        box-shadow: 0 0 30px rgba(133, 131, 131, 0.2);
        display: flex;
        padding: 3rem;
        flex-direction: row;
    }
}

.student__work--text {

    @include xs {
        width: 100%;
        padding-top: 1rem;
    }

    @include sm {
        width: 100%;
        padding-top: 1rem;
    }

    @include md {
        padding: 1rem;
        width: 80%;
    }

    @include lg {
        padding: 3rem;
        width: 80%;
    }

    @include xl {
        padding: 3rem;
        width: 80%;
    }
}

.team__section--header {

    @include xs {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    @include sm {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    @include md {
        padding-left: 3rem;
        padding-top: 3rem;
    }
    
    @include lg {
        padding-left: 3rem;
        padding-top: 3rem;
    }

    @include xl {
        padding-left: 3rem;
        padding-top: 3rem;
    }
}

.meet__the--team {

    @include xs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include md {
        display: flex;
        padding: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    @include lg {
        display: flex;
        padding: 3rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include xl {
        display: flex;
        padding: 3rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.card {

    @include xs {
        height: auto;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background: #fff;
        margin: 10px;
        display: inline-block;

        &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            //cursor: pointer;
        }
    }

    @include sm {
        height: 60rem;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background: #fff;
        margin: 10px;
        display: inline-block;

        &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            //cursor: pointer;
        }
    }

    @include md {
        height: 35rem;
        width: 18.75rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background: #fff;
        margin: 10px;
        display: inline-block;

        &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            //cursor: pointer;
        }
    }

    @include lg {
        height: 35rem;
        width: 18.75rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background: #fff;
        margin: 10px;
        display: inline-block;

        &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            //cursor: pointer;
        }
    }

    @include xl {
        height: 35rem;
        width: 18.75rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background: #fff;
        margin: 10px;
        display: inline-block;

        &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            //cursor: pointer;
        }
    }
}

.card__img--top {

    @include xs {
        height: auto;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    @include sm {
        height: auto;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    @include md {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    @include lg {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    @include xl {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.card__body {

    @include xs {
        padding-bottom: 1rem;
    }

    @include sm {
        padding-bottom: 1rem;
    }

    @include md {
        padding-bottom: 1rem;
    }

    @include lg {
        padding-bottom: 1rem;
    }

    @include xl {
        padding-bottom: 1rem;
    }
}

.card__title {

    @include xs {
        // font-size: 1.25em; 
         margin-bottom: .75em;
         padding-left: 1rem;
     }

    @include sm {
        // font-size: 1.25em; 
         margin-bottom: .75em;
         padding-left: 1rem;
     }

    @include md {
       // font-size: 1.25em; 
        margin-bottom: .75em;
        padding-left: 1rem;
    }

    @include lg {
        //font-size: 1.25em; 
        margin-bottom: .75em;
    }

    @include xl {
        //font-size: 1.25em; 
        margin-bottom: .75em;
    }
  
}

.card__text {

    @include xs {
        margin-bottom: 1.25em;
        color: grey;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    @include sm {
        margin-bottom: 1.25em;
        color: grey;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include md {
        margin-bottom: 1.25em;
        color: grey;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include lg {
        margin-bottom: 1.25em;
        color: grey;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include xl {
        margin-bottom: 1.25em;
        color: grey;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.card__title--container {

    @include xs {
        background-color: #f6f9fa;
    }

    @include sm {
        background-color: #f6f9fa;
    }
    @include md {
        background-color: #f6f9fa;
    }

    @include lg {
        background-color: #f6f9fa;
    }

    @include xl {
        background-color: #f6f9fa;
    }
}